{% extends 'base.html' %}

{% block container %}
<!--      Card de Boas Vindas VISIVEL ATE TAMANHO DE TELA PARA TABLETS-->
      <div class="jumbotron visible-sm visible-md visible-lg" style="padding-top: 15px; padding-block-end: 15px;background-color: #E0FFFF;">
              <h2 align='center'>Olá, Boas vindas ao WeBlog Technology</h2>
          <br>
          <br>
              <p>
                  Seja um colaborador e realize uma publicação
                  assim você pode ajudar a comunidade com seu conhecimento, não importa se você é programador, estudante,
                  professor ou só hobbista em qualquer área de tecnologia, publique aqui:
                  <ul>
                      <li>Conhecimentos da sua Área de estudo</li>
                      <li>Projetos com IA, IoT, Arduino</li>
                      <li>Trabalhos Científicos</li>
                      <li>Trabalhos Acadêmicos</li>
                  </ul>
              </p>
          {% if not request.user.is_authenticated %}
              <div  align='center'>
                  <a class='btn btn-danger btn-sm' href="{% url 'cadastro_autor' %}">Clique Aqui e cadastre-se</a>
              </div>
          {% endif %}
          <br>
          <br>
          <div align='right'>
              <h6>
                  Por Administrador do WeBlog Technology
              </h6>
          </div>
      </div>
      <!--      /Card de Boas Vindas -->

      <!--      Card de Boas Vindas VISIVEL ATE TAMANHO DE TELA PARA CELULAR -->
      <div class="jumbotron visible-xs" style="padding-top: 15px; padding-block-end: 15px;background-color: #E0FFFF;">
        <h3 align='center'>Olá, Boas vindas ao WeBlog Technology</h3>
        <br>
        <br>
            <p style="font-size: 15px;">
                Seja um colaborador e realize uma publicação
                assim você pode ajudar a comunidade com seu conhecimento, não importa se você é programador, estudante,
                professor ou só hobbista em qualquer área de tecnologia, publique aqui:
                <ul>
                    <li>Conhecimentos da sua Área de estudo</li>
                    <li>Projetos com IA, IoT, Arduino</li>
                    <li>Trabalhos Científicos</li>
                    <li>Trabalhos Acadêmicos</li>
                </ul>
            </p>
            {% if not request.user.is_authenticated %}
              <div  align='center'>
                  <a class='btn btn-danger btn-sm' href="#">Clique Aqui e cadastre-se</a>
              </div>
          {% endif %}
        <br>
        <br>
        <div align='right'>
            <h6>
                Por Administrador do WeBlog Technology
            </h6>
        </div>
    </div>
<!--      /Card de Boas Vindas -->


      <!--      POSTAGENS VISIVEL ATE TABLETS-->
    {% for post in posts %}
      <div class="jumbotron visible-sm visible-md visible-lg" style="padding-top: 15px; padding-block-end: 15px;background-color: #E0FFFF;">
        <h2>{{ post.titulo }}</h2>
        <br>
        <br>
          <p>{{ post.conteudo|linebreaks }}</p>
        <br>
        <br>
        <div align='right'>
            <h6>
                Por {{ post.autor }}, em {{ post.dt_publicacao|date:'d/m/Y' }} às {{ post.dt_publicacao|time }}
            </h6>
        </div>
      </div>
    {% endfor %}


      <!--   Tamanho de tela para dispositivos móveis   -->
    {% for post in posts %}
      <div class="jumbotron visible-xs" style="padding-top: 15px; padding-block-end: 15px;background-color: #E0FFFF;">
        <h2>{{ post.titulo }}</h2>
        <br>
        <br>
          <p style="font-size: 15px;">{{ post.conteudo|linebreaks }}</p>
        <br>
        <br>
        <div align='right'>
            <h6>
                Por {{ post.autor }}, em {{ post.dt_publicacao|date:'d/m/Y' }} às {{ post.dt_publicacao|time }}
            </h6>
        </div>
      </div>
    {% endfor %}
      <!--     /Tamanho de tela para dispositivos móveis -->

{% endblock %}