{% extends 'base.html' %}

{% block container %}
<!--        Tamanho de tela até tablet-->
    <div class="jumbotron visible-sm visible-md visible-lg">
        <h3 align='center'>Legenda:</h3>
        <h4 style="color: red;"><kbd style="background-color: red;">Vermelho</kbd>: Rascunho</h4>
        <h4 style="color: blue;"><kbd style="background-color: blue;">Azul</kbd>: Publicado</h4>
    </div>
    <!--            RASCUNHO -->

{% for post in posts %}
 {% if post.status == "Rascunho" %}
    <div class="jumbotron visible-sm visible-md visible-lg" style="padding-top: 15px; padding-block-end: 15px; color: red;background-color: #E0FFFF;">
        <h2>{{ post.titulo }}</h2>
        <br>
        <br>
          <p>{{ post.conteudo|linebreaks }}</p>
        <br>
        <br>
        <div align='right'>
            <h6>
                Por {{ post.autor }}, em {{ post.dt_publicacao|date:'d/m/Y' }} às {{ post.dt_publicacao|time }}
            </h6>
        </div>
        <div align='center'>
                <a class="btn btn-primary btn-xs" href="{% url 'editar_post' post.id %}">Editar</a>
                <a class="btn btn-danger btn-xs" href="{% url 'deletar_post' post.id %}">Excluir</a>
        </div>
      </div>
 {% else %}
    <!--      PUBLICADO  -->
    <div class="jumbotron visible-sm visible-md visible-lg" style="padding-top: 15px; padding-block-end: 15px; color: blue;background-color: #E0FFFF;">
        <h2>{{ post.titulo }}</h2>
        <br>
        <br>
          <p>{{ post.conteudo|linebreaks }}</p>
        <br>
        <br>
        <div align='right'>
            <h6>
                Por {{ post.autor }}, em {{ post.dt_publicacao|date:'d/m/Y' }} às {{ post.dt_publicacao|time }}
            </h6>
        </div>
        <div align='center'>
                <a class="btn btn-primary btn-xs" href="{% url 'editar_post' post.id %}">Editar</a>
                <a class="btn btn-danger btn-xs" href="{% url 'deletar_post' post.id %}">Excluir</a>
        </div>
    </div>
 {% endif %}
{% endfor %}
<!--        /Tamanho de tela até tablet-->




<!--       Tamanho de tela para dispositivos móveis -->
    <div class="jumbotron visible-xs">
        <h4 align='center'>Legenda:</h4>
        <h5 style="color: red;"><kbd style="background-color: red;">Vermelho</kbd>: Rascunho</h5>
        <h5 style="color: blue;"><kbd style="background-color: blue;">Azul</kbd>: Publicado</h5>
    </div>
{% for post in posts %}
 {% if post.status == "Rascunho" %}
    <!--            RASCUNHO -->
    <div class="jumbotron visible-xs" style="padding-top: 15px; padding-block-end: 15px; color: red;background-color: #E0FFFF;">
        <h2>{{ post.titulo }}</h2>
        <br>
        <br>
          <p style="font-size: 15px;">{{ post.conteudo|linebreaks }}</p>
        <br>
        <br>
        <div align='right'>
            <h6>
                Por {{ post.autor }}, em {{ post.dt_publicacao|date:'d/m/Y' }} às {{ post.dt_publicacao|time }}
            </h6>
        </div>
        <div align='center'>
                <a class="btn btn-primary btn-xs" href="{% url 'editar_post' post.id %}">Editar</a>
                <a class="btn btn-danger btn-xs" href="{% url 'deletar_post' post.id %}">Excluir</a>
        </div>
      </div>
{% else %}
    <!--      PUBLICADO  -->
    <div class="jumbotron visible-xs" style="padding-top: 15px; padding-block-end: 15px; color: blue;background-color: #E0FFFF;">
        <h2>{{ post.titulo }}</h2>
        <br>
        <br>
          <p style="font-size: 15px;">{{ post.conteudo|linebreaks }}</p>
        <br>
        <br>
        <div align='right'>
            <h6>
                Por {{ post.autor }}, em {{ post.dt_publicacao|date:'d/m/Y' }} às {{ post.dt_publicacao|time }}
            </h6>
        </div>
        <div align='center'>
                <a class="btn btn-primary btn-xs" href="{% url 'editar_post' post.id %}">Editar</a>
                <a class="btn btn-danger btn-xs" href="{% url 'deletar_post' post.id %}">Excluir</a>
        </div>
    </div>
 {% endif %}
{% endfor %}
<!--       /Tamanho de tela para dispositivos móveis -->
{% endblock %}