{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>WeBlog Technology</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <link href="{% static 'css/navbar-fixed-top.css' %}" rel="stylesheet">

    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>


  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="{% static 'img/blog-icon.png' %}" class='navbar-brand' style="height: 50px;">
          <a class="navbar-brand">WeBlog Technology</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Página Inicial</a></li>
            <li><a href="contato.html">Sobre nós</a></li>
          </ul>


          <ul class="nav navbar-nav navbar-right">
              {% if request.user.is_authenticated %}
              <li><a href="postagens_autor.html">Suas Postagens</a></li>
              <li><a href="postar.html">Postar</a></li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user }}<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Admin</a></li>
                    <li><a href="#">Editar Dados - Autor</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Perfil</li>
                    <li><a href="#">Alterar Senha</a></li>
                    <li><a href="#">Editar Dados - Login</a></li>
                    <li><a href="#">Sair</a></li>
                  </ul>
                </li>
              {% else %}
                <li><a href="postagens_autor.html">Login</a></li>
              {% endif %}
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        {% block container %}
        {% endblock %}
    </div>


    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery.min.js" %}"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
